<h1>Sign up</h1>

<%= form_for @user do |f| %>
<%= render :partial => 'shared/error_messages' %>
  <%= field_set_tag 'Personal Data' do %>
    <div class="field">
      <%= f.label :name, 'Name' %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email, 'Email' %><br />
      <%= f.text_field :email %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :password, 'Password' %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirmation' %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>


